@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

.line-style {
  position: relative;
  white-space: nowrap;
}

.line-style::before,
.line-style::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: black;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.line-style::before {
  content: "";
}

.line-style-link::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.line-style-link:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.line-style-link::after {
  content: "";
  top: calc(100% + 4px);
  transform-origin: 0% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.line-style-link:hover::after {
  transform-origin: 100% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}


.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  background-color: #e2e2e2;
  border-radius: 50%;
}


.custom-list-style {
  list-style-image: url('/drone_icon.png');
}
.custom-list-style-2 {
  list-style-image:none
}


@media (min-width: 1400px) and (max-height: 720px) {
  .custom-background {
    background-position-y: 80%;
  }
}

 @media (min-width: 800px) and (max-width: 1000px) {
  .navbar-dropdown-list {
    right: 0;
  }
} 

/* screen 21:9 wide */
@media (min-width:2500px) and (max-height: 920px) {
  .about-fotogrametria-container {
    max-width: 2000px !important;
  }
  .about-karolina-container {
    max-width: 1700px !important;
  }
  .navbar-list li a, .navbar-dropdown-title{
    font-size: 1.6rem !important;
  }
  .navbar-social-list a, .navbar-social-list p {
    font-size: 1.6rem !important;
  }
  .navbar-social-list .facebook {
    font-size: 1.8rem !important;
  }
  .navbar-social-list .linkedin {
    font-size: 2.3rem !important;
  }
  .navbar-dropdown-list{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    padding-left: 2rem !important;
    line-height: 3rem !important;
    min-width: 33rem !important;
  }
  .navbar-dropdown-list li a{
    font-size: 1.5rem !important;
  }
  .navbar-links-contanier {
    align-self: center;
  }
  .address-container{
    flex-direction: column-reverse !important;
  }
  .footer .heading-text {
    margin-left: 16rem !important;
    padding-top: 2rem !important;
  }

  .footer .heading2-text {
    margin-left: 16rem !important;
    margin-top: 2rem !important;
  }
  
}
@media (min-width: 2500px) and (min-height: 1400px) {
  .about-karolina-text, .about-karolina-list p {
    font-size: 1.9rem !important;
    font-weight: 400;
    line-height: 3.3rem !important;
  }
  .about-karolina-container, .hero-container{
    max-width: 1800px !important;
  }
  .about-fotogrametria-container {
    max-width: 1900px !important;
  }
  .about-karolina-image {
    margin-right: 5rem !important;
  }
  .about-karolina-text2 {
    margin-bottom: 10rem !important;
  }
  .about-karolina-text2 p{
  font-size: 3rem !important;
  }
  .about-fotogrametria-text1, .about-fotogrametria-text2 {
    font-size: 2.5rem !important;
  }
  .about-fotogrametria-list p{
    font-size: 1.8rem !important;
  }
  .about-fotogrametria-text2 {
    margin-top: 3rem !important;
    margin-bottom: 1rem !important;
  }
  .about-fotogrametria-text1 {
    margin-bottom: 3% !important;
  }
  .about-fotogrametria-icon-title {
    font-size: 2rem !important;
  }
  .about-fotogrametria-icon-description{
    font-size: 1.8rem !important;
    line-height: 2.5rem !important;
  }
  .navbar-logo {
    max-height: 10rem !important;
  }
  .navbar-list li a, .navbar-dropdown-title{
    font-size: 1.8rem !important;
  }
  .navbar-social-list a, .navbar-social-list p {
    font-size: 1.8rem !important;
  }
  .navbar-social-list .facebook {
    font-size: 2rem !important;
  }
  .navbar-social-list .linkedin {
    font-size: 2.5rem !important;
  }
  .hero-container nav {
    margin-top: 4rem !important;
  }
  .hero-heading {
    margin-top: 9rem !important;
  }
  .hero-heading p {
    font-size: 4.5rem !important;
  }
  .navbar-links-contanier {
    align-self: center;
  }
  .navbar-dropdown-list{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    padding-left: 2rem !important;
    line-height: 3.3rem !important;
    min-width: 34rem !important;
  }
  .navbar-dropdown-list li a{
    font-size: 1.6rem !important;
  }
} 
@media (min-width: 1280px) and (max-height: 800px) {
  .address-contact-container {
    padding-bottom: 7px !important;
  }
  .footer .heading-text p{
    font-size: 2rem;
  }
  .footer .heading-text {
    padding-top: 1rem;
  }
  .footer .heading2-text h2{
    font-size: 1.5rem;
  }
  .footer .heading2-text {
    margin-top: 1rem;
  }
  .contact-form {
    margin-top: 2rem;
  }
}

@media (min-width: 2500px) and (max-height: 1080px) {
  .address-container{
    flex-direction: column-reverse !important;
  }
  .custom-background {
    background-position-y: 75% !important;
  }
  .footer .heading-text {
    margin-left: 15rem !important;
    padding-top: 2rem !important;
  }

  .footer .heading2-text {
    margin-left: 15rem !important;
    margin-top: 2rem !important;
  }
}


.Modele div {
  background-position: left;
}

.bg-blur-right {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}


.dropdown-uslugi {
  border-radius: 0!important;
  border-width: 0 3px 0 0!important;
  border-style: solid!important;
}

